.popupContent {
  height: 100%;
  padding: 0!important;
  position: relative;
  float: left;
}


.productImgContainer {
  text-align: center;
  margin-right: 60px;
  min-height: 300px;
  width: 300px;
  float: left;
  background: transparent;
  border: 0 none;
}


#ProductImageStatic {
  border-bottom: 1px dotted #dfdfdf;
  height: 300px;
  width: 300px;
  overflow: hidden;
  padding-bottom: 10px;
}

.productDescriptionWrap {
  margin: 0;
  padding: 0;
  float: right;
  width: 227px;
}

.productDescriptionWrap h1 {
  font: bold 18px/20px Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0 0 12px 0;
}

.popupContent p {
  font: 13px/18px Helvetica,Arial,sans-serif;
  color: #222;
  float: left;
  width: 100%;
}

.productPrice {
  margin: 0!important;
}

p.productSKU {
  color: #333;
  font: 14px/16px Helvetica,Arial,sans-serif;
}

.shopControls {
  width: 100%;
}