* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #ccc;
}
section {
    background: #ffffff;
    max-width: 960px;
    margin: 0px auto;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
section#header {
    padding: 0px;
    padding-top: 5px;
}
section#header .left {
    float: left;
}
section#header .right {
    float: right;
}
div.row {
    background: #cccccc;
    max-width: 900px;
    margin: 0px auto 10px auto;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
div.row .product {
    float: left;
    background: #ffffff;
    position: relative;
    max-width: 203px;
    width: 203px;
    margin: 0px 5px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div.row .product a .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url('../images/empty.gif');
}
div.row .product .title {
    text-align: center;
}
div.row .product .productimage {
	background-color: black;
	height: 165px;
}
div.row .product img {
    text-align: center;
    max-width: 203px;
    margin: 0px auto;
}
div.row .product .price {
    text-align: right;
    font-size: 18px;
}
div.row .product .price.special {
    text-align: right;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
div.row .product .price .special {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 90;
    left: 166;
    z-index: 3;
    background-image: url('../images/special.png');
}
div.row .product .attribute {
    
}
div.row .product .attribute .label {
    float: left;
    font-size: 24px;
}
div.row .product .attribute .value {
    float: right;
    text-align: right;
    font-size: 24px;
}

/* Tricks */
 .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
